.heading-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  .heading-center {
    align-items: center;
  }
  
  .heading-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.2px;
    color: rgba(0, 0, 0, 1);
  }
  
  @media (min-width: 640px) {
    .heading-text {
      font-size: 32px;
      line-height: 41.6px;
    }
  }
  
  .heading-line {
    height: 3px;
    background-color: rgba(8, 28, 7, 1);
  }
  